body {
  font-family: 'Nanum Gothic', sans-serif;
  perspective: 100px;
  perspective-origin: 25% 75%;
  
}

nav.bg-dark{
  color:black;
  background-color: black !important;
}
.single_feature_area .feature_icon {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-right: 15px;
    height: 70px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border-right: 1px solid #d6e6fb;
    padding-right: 30px;}


    /*FOOTER*/

    footer {
      background-color: black;
      color:white;
      font-size: .7rem
    }
    footer a {
      color:white;
      text-decoration: none;
    }

    footer ul {
      list-style: none;
      padding: 0;
    }
    .footer_content li {
      padding: 12px 0;
    }

    .footer_widget_menu li {
      padding: 3px 0;
    }

    .footer_social_area a {
      padding: 0 10px;
      font-size: 20px;
    }
/* detail view page */

.btn-cart {
    background-color: #1e2537;
    padding: 0 50px;
    border-right: none;
    color: white;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border-color: transparent;
    font-weight: 700;
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 25px;
}

.btn-cart:hover {
    background-color: #374058;
}
/* end of detail view page */

img.logo{
  max-width: 200px;
}

.hero_meta_area{
  height: 100%;
}

.navbar-nav a{
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.vavbar-nav a:hover{
  color: #ccc;
}

.bg_blue{
  float: right;
  background-color: rgba(15,40,79,0.9);
  text-align: left;
  width: 100%;
  max-width: 430px;
  position: relative;
}

.bg_blue h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.single_slide .bg_blue p{
  color: #fff;
  letter-spacing: 0.1rem;
}

.bg_blue svg{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0%,-50%);
  color: #fff;
  font-size: 4rem;
}

.clear{
  clear: both;
}

.h-100 {
    height: 110%!important;
}

.product_image svg{
  color: #fff;
  font-size: 1.4rem;
}

.gold{
  color: #fcba03;
}

.header_area{
  background-color: #030303;
}

.account-area img{
  margin-top: -3px;
}

img {
  height: auto;
  max-width: 100%; }


/* menu */

i {
  color:white;
}

.circle{
    background-color: white;
    border-radius: 23px;
    padding: 10px 14px;

}

.sml-circle{
  position: relative;
}

.cart-blue-icon{
    background-color: cornflowerblue;
    padding: 2px 5px;
    color: white;
    border-radius: 12px;
    position: absolute;
    top: -47px;
    left: 13px;
    right: -22px;
}

.act-circle {
  padding: 23px;
  background-image: url("/storage/images/product1.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/*Slider row*/
.single_slide{
    background-image: url(/storage/images/home_banner.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
.product_badge {
  position: absolute;
  top:0;
}
/* Product list */
.product_add_to_cart a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.single_product_area {
  background-color:#f8f8ff;
}
.product_add_to_cart{
  width: 50%;
  background-color: cornflowerblue;
  padding: 5px;
}
/*home page quick view */
.product_quick_view a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.product_quick_view {
  background: darkcyan;
  width: 50%;
  padding: 5px;

}

.product_badge span {
    background: #0f99f3;
    clear: both;
    color: #ffffff;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 23.5px;
    position: relative;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    padding-left: 7px;
    padding-right: 10px;
}

.watch_info_wrapper a {
  color:black;
}

.single-product-area{
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.single-product-area:hover {
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  transform: scale(1.01);
  
}
.normal_img{
  transition: 2.5s
}
.normal_img:hover{
  transform: scale(2.1);
}
.bord{
  margin-bottom: 30px;
}
.add_quick_wrapper {

  /*opacity: 0;*/
  transition: .3s;
}

.arrow-div{
  color:#007bff;

}

.categories-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
}

.categories-wrapper ul li {
  border-right: 1px solid #ccc;
}

.categories-wrapper ul li:last-child{
  border:none;
}
.categories-wrapper ul li a {
  color:black;
  padding: 5px 20px;
  text-decoration:none;
}

.categories-wrapper ul li a:hover{
  color:#007bff;
}

.categories-wrapper{
  display: flex;

}

.video-container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.shop-btn{
    position: absolute;
    color:rgba(15,40,79,0.9);
    top: 39%;
    /* left: 75%; */
    width: 296px;
    height: 150px;
    right: 0%;
    background-color: rgba(255,255,255,0.9);
    font-size: 30px;
    border: none;
    transition: .25s;
}

.shop1{
  height: 550px;
  background-image:url("/storage/images/shop_banner_filtered.jpg");
  background-size: cover;
  background-position: center;
}

.about1{
  height: 550px;
  background-image:url("/storage/images/about_banner_filtered.jpg");
  background-size: cover;
  background-position: center;
}

.contact1{
  height: 550px;
  background-image:url("/storage/images/contact_banner_filtered.jpg");
  background-size: cover;
  background-position: center;
}

.contact2{
  height: 550px;
  background-image:url("/storage/images/contact_image.jpg");
  background-size: cover;
  background-position: center;
}

.detail1{
  height: 550px;
  background-image:url("/storage/images/shop_detail_image1.jpg");
  background-size: cover;
  background-position: center;
}



.map{
  height: 550px;
  background-image:url("/storage/images/map2.jpg");
  background-size: cover;
  background-position: center;
}
.shop-btn:hover {
  background-color: rgba(15,40,79,0.9);
  color:rgba(255,255,255,0.9);
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* SPecial feat area*/
.special_feature_area {
    position: relative;
    z-index: 1;
    background-color: #f8f8ff;
}

/* detail view page */

.addtobag {
    background-color: #1e2537;
    padding: 0 50px;
    border-right: none;
    color: white;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border-color: transparent;
    font-weight: 700;
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    width: 70%;
}

.addtobag:hover {
    background-color: #374058;
}
.price{
  font-weight: 400;
}

.stronger{
  font-weight: bold !important;
}

.accordion {
  
}
.accordion a {
  color: black;
  text-decoration:none;
}
.add-div{
  text-align:center;
}
.col-md-6 {
  padding-right: 0px !important;
}

.shop-row .col-md-6 {
  padding-right: 15px !important;
}
/* end of detail view page

/* Detail*/

/* CART */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}
/* CART */

.shop-view{
  width: 100% !important;
}


/* Profile Page */
div#orders_hidden{
  display: none;
}

#profile_page .btn-outline-light:focus,
#profile_page .btn:focus{
  box-shadow: none;
}
/* Profile Page End */
.profile-pic{
  border-radius: 50px;
}

div.user_image{
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.user_image svg{
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.watch-name{
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
  color:white !important;
  


}

.watch-name a{
 color:-webkit-linear-gradient(left, #8f6B29, #FDE08D, #DF9F28) !important;
  color: linear-gradient(left, #8f6B29, #FDE08D, #DF9F28) !important;
  padding:5px 0 0;

}

a.watch-name::first-letter {
  text-transform: capitalize;
  color: red
}

.watch_info_wrapper{
  
}

.single-product-area {
  border: 1px solid gray;
}

.product_description {
  background-color: black;
  color:white;
  border-top: 2px solid white;

}

.product_description p {
  text-transform: uppercase;
  font-size: 14px;
}

.product_description h6 {
 letter-spacing: 8.5px;
  font-family: 'Staatliches', cursive;
  font-size:20px;
}

.product_description p {
  font-family: 'Bungee Hairline', cursive;

}
.product-price{
  font-size: 14px;
}

.searchbox{
  
  border-radius: 4px`;
  
}
.load-more{
  text-align:center;
  transition: .3s;
}

.load-p{
  color:cornflowerblue;
  font-size: 16px;
}

.load-arrow{
  transition: .3s;
}

.load-arrow:hover{
  color:orange !important;
  transform: scale(1.1);
  cursor: pointer;
}

.login_img{
  background-image: url(/storage/images/contact_image.jpg);
  background-size: cover;
  background-position: center;
}

.register{
  background-image: url(/storage/images/banner4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 589px;
}

.register2{
  background-image: url(/storage/images/banner3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 589px;
}

.register3{
  background-image: url(/storage/images/banner6.jpg);
  background-size: cover;
  background-position: center;
  min-height: 589px;
}

.alert-success,
.alert-danger{
  margin-bottom: 0px;
}

#profile_page label{
  font-weight: 600;
}

table p{
  margin-top: 1rem;
}

.table td,
.table th{
  vertical-align: middle;
}

.navbar-nav a{
  color: #888;
}



@media only screen and (min-width:768px) and  (max-width: 1167px) {
  .top-search {
    display:none;

  }
  .bottom-search{
    display: flex;
    justify-content: center;
    text-align:center;
    background-color: black;
    width:100%;
  }

  .bottom-search form{
    width: 100%;
    justify-content: center;
    margin-bottom:40px;
  }

 .searchbox1 {
    width:70% !important;
    justify-content: center;
  }
}
#subject1 , #subject2{
  padding-right: 0;
}

.contact-row .text-stuff {
  padding-right: 0;
}

.menu-top-wrapper{
  display: flex;
}
/* ----------------------------- ------------- -----------*/

@media only screen and (min-width:1167px){
  .bottom-search{
    display :none;
  }
  .searchbox{
    margin-right: 4px;
  }
}
@media only screen and (max-width: 767px){
  .bottom-search{
    display: none;
  }
  .normal_img:hover{
  transform: scale(1.0);
  }
  .searchbox{
    margin-bottom:7px;
  }
  #profile_page.container{
    max-width: 100%;
  }
  #profile_page h1,
  #profile_page h2{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:575px){
  .col-9 {
    max-width: 100%;
    flex:0 0 100%;
  }
  .normal_img:hover{
  transform: scale(1.0);
  }
  
  .categories-wrapper{
    margin-bottom: 1rem !important;
  }
  .categories-wrapper ul{
    padding: 0rem;
  }
  .categories-wrapper ul li a{
    font-size: 0.8rem;
    padding: 5px 9px;
  }
  #profile_page .row{
    display: block;
  }
  #profile_page .col-4,
  #profile_page .col-8{
    max-width: 100%;
  }
  #profile_page .mobile_wide{
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
  #profile_page .mobile_disapear{
    display: none;  
  }
  .detail1{
    display: none;
  }
}

@media only screen and (max-width:767px){
  .top-search form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .top-search form span {
    width: 100%;
    margin-bottom:20px;
  }
  .top-search form span button {
    width: 100%;

  }
  .col-9 {
    max-width: 100%;
    flex:0 0 100%;
  }
  .searchbox{
    width: 100% !important;
    margin-right:  !important;
  }

}


.detail-row{
  margin-right:0;
}

.shop-link{
  margin: 0 auto;
    justify-content: center;
    display: flex;
}

